.datavoyeur {
    .container {
        .displayScreen {
            width: 500px;
            height: 500px;
            background-color: #303030;
        }

        .debugScreen {
            background-color: #202020;
            width: 500px;
            height: 500px;
            border-radius: 5px;
            
        }
    }
}